@model Entity.Models.Database.Book
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Book/Create" method="post">
<div class="form-floating">
    <label for="floatingInput"><b>Name</b></label>
    <input type="text" name="Name" class="form-control" id="floatingInput" placeholder="BookName">
</div>
<div class="form-floating">
    <label for="floatingInput"><b>Author</b></label>
    <input type="text" name="Author" class="form-control" id="floatingInput" placeholder="Author">
</div>
<div class="form-floating">
    <label for="floatingInput"><b>Publisher</b></label>
    <input type="text" name="Publisher" class="form-control" id="floatingInput" placeholder="Publisher">
</div>
<div class="form-floating">
    <label for="floatingInput"><b>Price</b></label>
    <input type="text" name="Price" class="form-control" id="floatingInput" placeholder="Price">
</div>

<br>
<input type="submit" value="Add" />

    </form>

