
<h2 style="font-family:'Gill Sans';font-style:italic;color:burlywood;text-align:center">Shamit Nibras</h2>
<h3 style="font-family:'Gill Sans';font-style:italic;color:burlywood;text-align:center">ID:19-40117-1</h3>
<h3 style="font-family:'Gill Sans';font-style:italic;color:burlywood;text-align:center">
    BSc in Computer Science & Engineering in American International
    University-Bangladesh
</h3>